 html,body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #080808;
}
#map {
    height: 100%;
}

.container-fluid {
    overflow-y:auto;
    height:100%;
}​

.list-group-item {
  background-color: #080808;
}

.ul {
  background-color: #080808;
}

.listing{
  color: #B0C4DE;
  font-size: 165%;
}

.badge {
  float:right;
  font-size: 110%;
  color: #E0FFFF;
}

.text-centre {
  text-align: center;
  font-size: 200%;
  color:#B0C4DE;
}

.nav-style {
  background-color: #080808;
  height: 50%;
  width: 100%;
}

.title {
  font-size: 250%;
  color: #B0C4DE;
  margin: auto;
  display: inline;
  margin-right: 2.5%;
}

.icon {
  font-size: 250%;
  margin-left: 1.8%;
} 

 /* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #080808; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 350%;
    margin-left: 50px;
}
